<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IconExtractor</servlet-name>
        <servlet-class>net.sf.odinms.web.IconExtractor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>net.sf.odinms.web.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonsterServlet</servlet-name>
        <servlet-class>net.sf.odinms.web.MonsterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>net.sf.odinms.web.MapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IconExtractor</servlet-name>
        <url-pattern>/IconExtractor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonsterServlet</servlet-name>
        <url-pattern>/MonsterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/MapServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
